/* Reset default styles */
body, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  
}

/* Set background color and font styles */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  color: #674ed3;
}
/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Style the navigation bar */
nav {
  background-color: #666;
  color: #fff;
  padding: 10px;
}

/* Style the main content */
main {
  padding: 20px;
  flex-grow: 1;
}

/* Style the downloads section */
#downloads {
  background-color: #fff;
  padding: 20px;
}

#downloads h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#downloads ul {
  list-style-type: none;
}

#downloads li {
  margin-bottom: 10px;
}

#downloads a {
  color: #674ed3;
  text-decoration: none;
}

#downloads a:hover {
  text-decoration: underline;
}

a {
  color: #fcfbfd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-card .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.product-card a:hover {
  background-color: #666;
}